a{
    color:				#DD0000;
}

body{
    font-family: Arial;
    font-size: 17px;
}

.control-label{
    color: #404040;
}

.col-lg-9 {
    float: none;
    width:100%;
}

.col-lg-3 {
    width:100%;
    float: none;
}

.login-pf .container .form-horizontal .control-label {
    font-size: 17px;
}

#kc-container-wrapper{
    position:relative;
    float: right;
    overflow-y: initial;
    width:25%;
    height: 100%;
}

#kc-form{
    width:100%;
}

#kc-header-wrapper{
    color: transparent;
}

#kc-header{
    background: transparent url("../img/logo-homerider-baseline-coul.png") center no-repeat ;
    background-size: 60%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
}
#kc-content{
    padding-top:70%;
    padding-left: 10px;
    padding-right: 35px;
    padding-bottom: 30%;
    background-color: rgba(255,255,255,0.6);
}

#kc-form-options{
    width: 100%;
    margin-left:0;
}

#kc-form-buttons{
    float: right;

}
.btn-primary {
    background: transparent;
    background-color: rgb(64, 64, 64);
    border: solid 1px #808080;
}

.btn-primary:hover {
    background: transparent;
    background-color: #cc0000;
    border: solid 1px #808080;
}

.login-pf body {
    background: #0f0f0f url("../img/fond.jpg") top left no-repeat;
    background-size: cover;
}

#kc-logo-wrapper {
    position: absolute;
    z-index: 1;
    background: transparent url("../img/Fusion-transparent.png") center no-repeat ;
    background-size: contain;
    height: 22%;
    width: 43%;
    margin-top: 4%;
    margin-left: 4%;
}

#kc-logo {
    width: 100%;
    height: 20%;
}
/*
@media (min-width: 768px) {
    #kc-container-wrapper {
        bottom: 13%;
        position: absolute;
        width: 100%;
    }

    #kc-logo-wrapper {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        width: 200px;
        left: -230px;
        text-align: right;
        z-index: 9999;
    }
}
*/
@media (max-width: 850px){

    #kc-logo-wrapper {
        position: relative;
        height: 100px;
        background-position: center;
        width: 80%;
        margin-left: 10%;
    }


    #kc-container{
        position: absolute;
        bottom: 0;
        top:20%;
        width:100%;
        overflow-y: hidden;
    }

    #kc-header{
        height: 50%;
    }

    #kc-form {
        float: none;
    }

    #kc-container-wrapper{
        float:none;
        width: 100%;
        margin-top: 2%;
    }

    #kc-content{
        padding-top: 3%;
        height: 100%;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 10px;
        right: 0px;
        text-align: right;
        z-index: 9999;
    }
}

@media (min-width: 768px) {
    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
        bottom: 0;
    }

}